<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_book</string>
		<string>computer_science</string>
		<string>english</string>
		<string>how_computer_science_and_english_overlap</string>
		<string>proposal_outline</string>
		<string>team</string>
		<string>author</string>
		<string>node_modules</string>
		<string>career</string>
		<string>cs_hu</string>
		<string>funsies</string>
		<string>programs</string>
		<string>resources</string>
		<string>starter_pack</string>
		<string>why_cs</string>
		<string>faculty</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>GLOSSARY.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
		<array>
			<string>LICENSE.txt</string>
		</array>
	</array>
</dict>
</plist>
