<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_book</string>
		<string>computer_science</string>
		<string>english</string>
		<string>gitbook</string>
		<string>how_computer_science_and_english_overlap</string>
		<string>proposal_outline</string>
		<string>team</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
