<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>accelerators.md</string>
		</array>
		<array>
			<string>advice.md</string>
		</array>
		<array>
			<string>books.md</string>
		</array>
		<array>
			<string>bootcamps.md</string>
		</array>
		<array>
			<string>bruce_chittenden.md</string>
		</array>
		<array>
			<string>comparing_code.md</string>
		</array>
		<array>
			<string>compete_&amp;_get_offers.md</string>
		</array>
		<array>
			<string>conferences.md</string>
		</array>
		<array>
			<string>course_outline.md</string>
		</array>
		<array>
			<string>create_a_resume.md</string>
		</array>
		<array>
			<string>cshu.md</string>
		</array>
		<array>
			<string>dr_chutima_boonthum-denecke.md</string>
		</array>
		<array>
			<string>dr_jean_muhammad.md</string>
		</array>
		<array>
			<string>dr_justus_nyagwencha.md</string>
		</array>
		<array>
			<string>dr_moayed_daneshyari.md</string>
		</array>
		<array>
			<string>exams.md</string>
		</array>
		<array>
			<string>faculty.md</string>
		</array>
		<array>
			<string>find_internships.md</string>
		</array>
		<array>
			<string>freshman_courses.md</string>
		</array>
		<array>
			<string>funsies.md</string>
		</array>
		<array>
			<string>getting_an_internship.md</string>
		</array>
		<array>
			<string>hu_tech.md</string>
		</array>
		<array>
			<string>i_dont_c.md</string>
		</array>
		<array>
			<string>inspiration.md</string>
		</array>
		<array>
			<string>jokes.md</string>
		</array>
		<array>
			<string>memes.md</string>
		</array>
		<array>
			<string>minorities_everywhere.md</string>
		</array>
		<array>
			<string>moocs.md</string>
		</array>
		<array>
			<string>prepare.md</string>
		</array>
		<array>
			<string>programs.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>resources.md</string>
		</array>
		<array>
			<string>scholarships.md</string>
		</array>
		<array>
			<string>student_spotlight.md</string>
		</array>
		<array>
			<string>templates.md</string>
		</array>
		<array>
			<string>textbooks.md</string>
		</array>
		<array>
			<string>the_cs_kid_pack.md</string>
		</array>
		<array>
			<string>the_weekend.md</string>
		</array>
		<array>
			<string>tutorial_quickies.md</string>
		</array>
		<array>
			<string>useful_apps.md</string>
		</array>
		<array>
			<string>Websites.md</string>
		</array>
		<array>
			<string>why_cs.md</string>
		</array>
		<array>
			<string>wysiwyg.md</string>
		</array>
		<array>
			<string>compilations.md</string>
		</array>
		<array>
			<string>websites.md</string>
		</array>
		<array>
			<string>angela_hayden.md</string>
		</array>
		<array>
			<string>elaine_dietz.md</string>
		</array>
		<array>
			<string>susan_zehra.md</string>
		</array>
	</array>
</dict>
</plist>
